<h1>Editing wiki post</h1>

<%= render "form", wiki_post: @wiki_post %>

<br>

<div>
  <%= link_to "Show this wiki post", @wiki_post %> |
  <%= link_to "Back to wiki posts", wiki_posts_path %>
</div>
