<h1 class="title" > Wiki Page Title </h1>

<p class="description">  Wiki Page Body</p>

<div class="meta">
  <span class="author"> Wiki Page Author </span>
  <span class="creation"> Wiki Page Creation Date </span>
  <span class="update"> Wiki Last Update Date </span>

</div>