body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

li:hover {
  background-color: #333;
}

table {
  background-color: #222;
  color: #fff;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #444;
  color: #fff;
}


dl {
  display: table-row;
}

dt, dd {
  display: table-cell;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

dt {
  font-weight: bold;
  color: #222;
}

dd {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 12px;
} */